/*---- Multi select box style starts ----*/

.@{pre}-multi-selectbox{
    display:flex;
    flex-direction:column;
    padding:8px;
    gap:8px;
    border: 1px solid var(--grey4);
    background-color: var(--grey8);
    border-radius: 4px;
    transition: outline 0.1s;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.03);

    .@{pre}-detail{
        width: fit-content;
        display: flex;
        align-items: center;
        border: 1px solid @grey-bor3;
        font-size: 13px;
        background-color:@grey-bg10;
        border-radius:2px;
        
        .@{pre}-meta{
            padding:0 10px;
            color:@grey-txt0;
        }
        
        .@{pre}-data-closebtn{
            display: inline-flex;
            border-left: 1px solid @grey-bor3;
            padding: 3px;
            background-color:@grey-bg7;
            cursor: pointer;
            
            .o-ico-x-mark{
                stroke-width:2;
                
                &:hover{
                    stroke:@grey-ico0;
                }
            }
        }
        
        &.@{s}-change-bg-order{
            background-color:@grey-bg7;
            
            .@{pre}-data-closebtn{
                 background-color:@grey-bg10;
            }
        }
    }

    &:focus-within{
        border-color: transparent;
        outline: 2px solid var(--accent-color);
    }
}
/*---- Multi select box style end ----*/