/*---- Multi select box style starts ----*/

.@{pre}-multi-selectbox{
    display:flex;
    flex-wrap:wrap;
    padding:8px;
    gap:8px;
    border: 1px solid @grey-bor4;
    background-color: @white;
    border-radius: 4px;
    .z-transition(@sec:.1s);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.03);

    .@{pre}-data{
        display:inline-flex;
        align-items: center;
        border: 1px solid @grey-bor3;
        font-size:@z-font-s13;
        background-color:@white;
        overflow:hidden;
        
        .@{pre}-meta{
            padding:0 8px;
            color:@grey-txt0;
        }
        
        .@{pre}-closebtn{
            display: inline-flex;
            border-left: 1px solid @grey-bor3;
            cursor: pointer;

            &:hover{
                .o-ico-x-mark{
                    stroke:@grey-ico0;
                }
            }
        }
    }

    &.tone\:grey{
        background-color:@grey-bg8;
    }

    &.@{pre}-bg{
        &\[child\]{
            .@{pre}-data{
                .@{pre}-closebtn{
                    background-color:@grey-bg7;
                }
            }
        }

        &-reverse\[child\]{
            .@{pre}-data{
                background-color:@grey-bg7;

                .@{pre}-closebtn{
                    background-color:@white;
               }
            }
        }
    }

    &.@{pre}-close-type\:round{
       
        .@{pre}-data{
            padding: 3px;

            .@{pre}-closebtn{
                border:none;
                background-color:transparent;
                border-radius:30px;
                padding:2px;
                margin-right:2px;
    
                &:hover{
                    background-color: @grey-bg7;
                }
            }
        }

        &.@{pre}-bg-reverse\[child\]{
            .@{pre}-data{
                .@{pre}-closebtn:hover{
                    background-color:@white;
               }
            }
        }
    }

    &:focus-within{
        border-color: transparent;
        outline: 2px solid @accentcolor;
        background-color:@white;
    }
}

/*---- Multi select box style end ----*/
